body,html{

    width: 100%;
    height: 100%;
}

/* div.kutu-1{
background-color: red;
height: 150px;
width: 150px;
} 

bu sekilde sabit olculerde kalir ve ekranin buyume/kuculme durumlarinda degismez
*/


div.kutu-1{
    background-color: red;
    height: 50%;
    width: 50%;
    } 

/* yukaridaki gibi % olarak olcu birimi 
verdigimde sayfayi istenilen olculerde/tam ekran/kucultme 
gibi durumlarda girilen degere gore dinamik olarakdegisim saglar */


/* % deger vedigimde ilgili tag'in parent'ina gore olceklendirme yapar
Or: Parten 80% - child 50%
burada child parent'in 80'in 50'sini alir  ;)
*/


div.kutu-3{
    background-color: rgb(31, 211, 18);
    height: 50%;
    width: 50%;
    } 

    div.kutu-4{
        background-color: rgb(29, 114, 194);
        height: 50%;
        width: 50%;
    }



    div.kutu-2{
        background-color: rgb(83, 155, 214);
        height: 50vh;
        width: 100vw;
        } 

        /*  vw : viewport width 
            vh : viewport height
        Tarayici penceresinin viewport genisligine baglıdır.
        Pencere genisligi degistikce bu degerlere baglı CSS degerleri (value) de etkilenir.
        Parent genisligine bakmaz...  */


        div.kutu-5{
            
            font-size: 3em;
            } 
            /* font-size: 2em; em parent'a gore degisiyor, kullanisli degil */
            /* font-size: 2rem; rem parent'a gore degisiyor, kullanisli degil */


