div.divEl {
  background-color: sandybrown;
  height: 100px;
  text-align: center;
}

span.spanEl {
  background-color: rgb(190, 102, 131);
}

div.divBlock {
  background-color: royalblue;
  height: 100px;
}

div.divBlock p.pEl {
  background-color: rgb(177, 38, 38);
  width: 100px;
  /* margin-left: auto;
    margin-right: auto; 
    bu sekilde yapabilecegim gibi 
    asagidaki gibi de yapabiliriz*/

  /* margin: 0 auto; */

  margin: 0 0 0 auto; /* saga hizalarim */
  margin: 0 auto 0 auto; /* ortada hizalarim */
  margin: 0 auto 0 0; /* solda hizalarim */
}
