/* ! pseudo class'lar ':' ile tanımlanır */
/* *  pseudo element'ler '::' ile tanımlanır */

h1.title{
    color: blue;
    background-color:darkkhaki;
    text-align: center;
    margin-bottom: 2rem;
    padding: 10px;
}

p.about::first-letter{

    font-size: 2rem;
    color: darkred;

}/* ilk harfi stillendirmek icin */

p.about::first-line{
    color: darkgreen;
    font-weight: bold;
}/* ilk satira stillendirmek icin */

p.about::selection{
    color: red;
    background-color: yellow;
}/* satirlarda seciliyken stil vermek icin */

ul.list li::marker{
    color: red;
    font-size: 1.5rem;
}/* madde isaretlendirmelerine stil vermek icin */