.chkBox {
  display: none;
}

p.content {
  text-align: justify;
}

.chkBox:checked + p.content {
  background-color: rgb(10, 10, 10);
  color: whitesmoke;
  font-size: 1.3rem;
}

.btn-mode {
  background-color: gray;
  display: inline-block;
  margin-top: 2rem;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  border: 2.8px solid black;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 35px;
}
