/* 
! linear-gradient renk gecisleri icin kullanilir
* radial-gradient renk gecislerini sekil vererek kullanabiliriz
*/

.bg {
  padding: 50px;
  margin: 50px;
  margin-bottom: 3rem;
}

.bg-1 {
  background-image: linear-gradient(yellow, violet, rgb(89, 89, 193));
}

.bg-2 {
  background-image: linear-gradient(to right, gray, red, black);
}

.bg-3 {
  background-image: linear-gradient(25deg, red, blue, red, blue, red, blue);
}

.bg-4 {
  background-image: linear-gradient(to left, gold 25%, cyan 5%, magenta 90%);
}

.bg-5 {
  background-image: radial-gradient(circle, red, blue, green);
}

.bg-6 {
  background-image: radial-gradient(ellipse, black -10%, white 40%, blue 90%);
}
