/* 
! media query hangi ekranda hangi ozellikleri vermke istiyorsam onlari belirleyebiliriz

 @media tur and (ozellik and|or ozellik)

 tur --> screen: ekran
        print: yazdirma
        all: tumu

ozellik --> min-width: en az genislik
            max-width: en buyuk genislik
            min-height: en az yukseklik
            max-height: en buyuk yukseklik

    ------------------------------------------        
    cok kucuk cihazlar
    telefonlar
    @media (min-width: 576px) 

    tabletler
    @media (min-width: 768px)

    ekranlar
    @media (min-width: 1200px)

    cok buyuk ekranlar
    @media (min-width: 1400px)
*/

body {
  padding: 40px;
}

div.boxes {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  font-weight: 900;
  text-transform: uppercase;
  align-items: center;
}

div.boxes > div {
  width: 100px;
  height: 100px;
  background-color: red;
  color: white;
  text-align: center;
  /* line-height: 100px; */
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.boxes > div:nth-child(3) {
  background-color: plum;
  color: coral;
  display: none;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  div.boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 5rem;
  }

  div.boxes > div:nth-child(3) {
    display: block;
    color: gray;
    background-color: aquamarine;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 576px) {
  div.boxes > div:last-child {
    display: block;
    color: gray;
    background-color: rgb(0, 255, 17);
    display: flex;
    align-items: center;
  }
}
